# ===== Виртуальная среда =====
venv/
.venv/

# ===== Переменные окружения =====
.env

# ===== Кэш Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# ===== Логи =====
*.log

# ===== Файлы сессии Telethon =====
*.session

# ===== Настройки IDE =====
.idea/
.vscode/

